body {
    background-color: darkblue;
}
p {
    font-size: 2.5vw;
    margin: auto;

}
.container {
    margin: auto;
    width: 350px;
    border: 3px solid green;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.bingoBoard{
    height: 100%;
    width: 325px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-between;
}
.optionContainer {

    background-color: white;
    width: 61px;
    height: 61px;
    min-height: 19%;
    display: flex;
    flex-wrap: wrap;
    
    
    
    
    border: 2px solid black;
}

.bingoTitle {
    background-color: red;
    height: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.christmasbingotitle {
    margin: auto;
    text-align: center;
}

.bingoFooter {
    background-color: white;
    margin: auto;
    width: 90%;
    height: 100px;
}